/*===Client Login Form===*/
#body{
    background-image: url('https://wallpapers.com/images/hd/silver-aesthetic-car-wash-av2eptgo6na7ybh8.jpg');
    background-repeat: no-repeat;
    background-position: cover;
}
form{
    border: 3px solid #f1f1f1;
    width: 19%;
    margin: auto;
    margin-top: 13%;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(135deg, #74ebd5 0%, #ACB6E5 100%);
    border-radius: 7%;
}
#input-form{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 18px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}
#label-form{
    font-weight: bold;
    margin-left: 5%;
}


/*===Card===*/
.col1{
    margin-left: 15%;
}


/*===Services===*/
#service{
    border-radius: 10%;
}

